@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root{
    --background: #3B474A;
    --primary: #354F52;
    --secondary: #52796f;
    --text-nav: #FECF16;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Combo';
    text-decoration: none;
    list-style-type: none;
    

}

header{
    background: var( --background); 
    width: 170%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;

}

.logo{
    height: 60%;
}

.navbar, 
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 150px;
}


.navbar-list{
    gap: 30px;

}

.navbar-list a {
    color: var( --text-nav);
    font-size: 14px;
}