@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root{
    --background: #3B474A;
    --primary: #354F52;
    --secondary: #52796f;
    --text-nav: #FECF16;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Combo';
    text-decoration: none;
    list-style-type: none;
    

}

header{ 
    background: linear-gradient(to bottom, #3B474A, #354F52);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;


}

.logo{
    height: 60%;
}

.navbar, 
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 150px;

}


.navbar-list{
    gap: 90px;

}

.navbar-list a {
    color: var( --text-nav);
    font-size: 14px;
}

main{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
}

#hero{
    margin-top: 75px;
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info{
    display:flex;
    flex-direction: column;
    gap:30px;
    width: 50%;
}

.hero-info h1{
    font-size: 30px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--text-nav);
}

.hero-info p {
    font-size: 15px;
    width: 70%;
    color: var(--text-nav);
}

.hero-info a {
    color: black;
    background-color: var(--text-nav);
    width: 120px;
    padding: 10px 0px;
    border-radius: 15px;
    font-size: 14px;
    font-weight:800;
    text-align: center;    
}


.hero-img {
    width: 500px;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-img img{
    width: 450px;
    border-radius: 15px;
    padding: 10px;

}

#info-desarrollo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-desarrollo p{
    font-size: 20px;
    width: 70%;
    padding: 50px 50px;
    color: var(--text-nav);

}